@import "~bootstrap/scss/functions";

// Default variable overrides
@import "./variables.scss";
@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/mixins";

// Create your own map
$custom-colors: (
    "lime": $lime,
    "slate-900": $slate-900,
    "slate-700": $slate-700,
    "slate-500": $slate-500,
    "slate-300": $slate-300,
    "slate-100": $slate-100,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/bootstrap";


// Custom styles
#app-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}