// Base colors
$blue: #0062C3;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #D73328;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// Theme colors (From Bootstrap - You can change it)
$primary: #0062C3;
$secondary: #818093;
$info: #2DB6F5;
$success: #00B69B;
$warning: #FFBC2B;
$danger: #B52025;
$light: #E7EBF5;
$dark: #0E1016;

// Custom colors
$lime: #D8DB2F;
$slate-900: #133041;
$slate-700: #4E6E7E;
$slate-500: #6B94A8;
$slate-300: #9ABED5;
$slate-100: #E4F4FD;